$black: #232323;
$white: #b7b7b7;

$deep-red: #7c1d20;
$deep-gold: #7e5600;

$light-yellow: rgb(243,248,156); //#f3f89c
$light-green: rgb(182,252,236); //#b6fcec
$light-blue: rgb(143,132,253); // #8f84fd
$dirty-orange: rgb(244,136,70); //#f48846

$bright-blue: #001e7b;
$bright-red: #dc041c;
$bright-orange: #fd7a04;


$about-blue: #298080;