@import "colors.scss";


*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;

    font-size: 11px;
    font-family: 'Manjari', sans-serif;

    @media screen and (min-width: 600px){
        font-size: 13px;
    }

    @media screen and (min-width: 800px){
        font-size: 14px;
    }

    @media screen and (min-width: 1250px){
        max-height: 200vh;
    }

}
body{
    display: flex;

    width:100vw;    
    max-width: 100%;
    margin: 0;
    padding: 0;

    background-color: $white;
}

nav{
    min-width: 3rem;
    background: linear-gradient(179deg, rgba(126,86,0,1) 0%, rgba(0,128,128,1) 100%);
    text-align: center;
    z-index: 1;

    i{
        font-size: 2rem;
        padding: 1rem 0.5rem;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.2rem;
        width: 4.5rem;
        margin: 0;
        padding: 0;

        background-color: $black;
        border: $black solid 0.2rem;

    }


    .icon-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 35vh;
        
        width: 4.5rem;
        height: 30vh;
        margin: 0;

        background: linear-gradient(180deg, rgba(23,23,23,1) 0%, rgba(0,0,0,1) 100%);
        border-radius: 1rem 0 0 1rem;
        
        i{
            width: 4.5rem;
            color: $white;
        }

        .home:hover{
            background-color: $bright-blue;
            color: $light-yellow;
        }
        
        .about:hover{
            background-color: $bright-orange;
            color: $light-blue;
        }

        .portfolio:hover{
            background-color: $bright-red;
            color: $light-green;
        }

    }
}
main{
    display: flex;
    flex-direction: column;

    width: calc(100% - 4.5rem);
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    height: 100vh;

    background-color: $light-blue;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/cover.jpg"), center/80%;
    
    @media screen and (orientation: landscape) and (max-height: 500px){
        justify-content: flex-start;
    }

    .banner-text{
        height: 25vh;
        width: 100%;
        background: linear-gradient(295deg, rgba(23,23,23,1) 0%, rgba(0,0,0,1) 100%);
        box-shadow: 50px 0 50px 0 $black;

        svg{
            display: block;

            height: 100%;
            width: 70%;
            padding: 2rem;


            animation-duration: 7s;
            animation-name: slidein;
            @keyframes slidein {
                from{
                    width: 100%;
                }
                to{
                    width: 70%;
                }
            }
            
            g path{
                stroke-width: 10;
            }
            path{
                stroke-width: 15;
            }
            g path:nth-child(2){
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                animation: line-anim 10s ease forwards;
            }
            g path:nth-child(3){
                stroke-dasharray: 654;
                stroke-dashoffset: 654;
                animation: line-anim 10s ease forwards 0.3s;
            }
            g path:nth-child(4){
                stroke-dasharray: 2000;
                stroke-dashoffset: 2000;
                animation: line-anim 10s ease forwards 0.8s;
            }
            g path:nth-child(5){
                stroke-dasharray: 600;
                stroke-dashoffset: 600;
                animation: line-anim 10s ease forwards 0.9s;
            }
            g path:nth-child(6){
                stroke-dasharray: 800;
                stroke-dashoffset: 800;
                animation: line-anim 10s ease forwards 1.2s;
            }
            g path:nth-child(7){
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                animation: line-anim 10s ease forwards 1.5s;
            }
            g path:nth-child(8){
                stroke-dasharray: 800;
                stroke-dashoffset: 800;
                animation: line-anim 10s ease forwards 1.8s;
            }
            g path:nth-child(9){
                stroke-dasharray: 516;
                stroke-dashoffset: 516;
                animation: line-anim 10s ease forwards 2.1s;
            }
            
            path:nth-child(3){
                stroke-dasharray: 700;
                stroke-dashoffset: 700;
                animation: line-anim 3s ease forwards 6s;
                // animation: fill 0.3s ease forwards 13s;            
            }
            path:nth-child(4){
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                // animation: line-anim 10s ease forwards 2s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(5){
                stroke-width: 15;
                stroke-dasharray: 345;
                stroke-dashoffset: 345;
                // animation: line-anim 10s ease forwards 1.9s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(6){
                stroke-dasharray: 365;
                stroke-dashoffset: 365;
                animation: line-anim 3s ease forwards 6s;
                // animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(7){
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                // animation: line-anim 10s ease forwards 1.7.5s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(8){
                stroke-dasharray: 300;
                stroke-dashoffset: 300;
                // animation: line-anim 10s ease forwards 1.7.5s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(9){
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                // animation: line-anim 10s ease forwards 1.5s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(10){
                stroke-dasharray: 345;
                stroke-dashoffset: 345;
                // animation: line-anim 10s ease forwards 1.4s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(11){
                stroke-dasharray: 413;
                stroke-dashoffset: 413;
                // animation: line-anim 10s ease forwards 1.3s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(12){
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                // animation: line-anim 10s ease forwards 1.2s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(13){
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                // animation: line-anim 10s ease forwards 1.1s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(14){
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                // animation: line-anim 10s ease forwards 1s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(15){
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                // animation: line-anim 10s ease forwards 0.9s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(16){
                stroke-dasharray: 365;
                stroke-dashoffset: 365;
                // animation: line-anim 10s ease forwards 0.7.5s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(17){
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                // animation: line-anim 10s ease forwards 0.7.5s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(18){
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                animation: line-anim 3s ease forwards 6s;
                // animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(19){
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                // animation: line-anim 10s ease forwards 0.5s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(20){
                stroke-dasharray: 414;
                stroke-dashoffset: 414;
                // animation: line-anim 10s ease forwards 0.4s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(21){
                stroke-dasharray: 263;
                stroke-dashoffset: 263;
                // animation: line-anim 10s ease forwards 0.3s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(22){
                stroke-dasharray: 553;
                stroke-dashoffset: 553;
                // animation: line-anim 10s ease forwards 0.2s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            path:nth-child(23){
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                // animation: line-anim 10s ease forwards 0.1s;
                animation: fill 0.3s ease forwards 7.5s;            

            }
            @keyframes line-anim{
                to{
                    stroke-dashoffset: 0;
                }
            }
            @keyframes fill{
                from{
                    fill: transparent;
                }
                to{
                    fill: white;
                }
            }
        }
    }
}
        

.large-screen-display{
    @media screen and (min-width:1250px){
        display: flex;
        height: 95vh;
    }
}

.info-container{
    display: flex;
    flex-shrink: 0;

    height: 95vh;
    width: 100%;

    @media screen and (min-width:1250px){
        width: 50%;
    }

    .about{
        display: flex;
        flex-direction: column;

        width: 75%;
        margin:0;
        padding: 0;

        border-width: 0.7rem 0.7rem 0.7rem 0; 
        border-style: groove;
        border-color: $black; 

        @media screen and (min-width: 1250px){
            border-width: 0.7rem 0.7rem 0 0;
        }

        
        
        .about-text{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;


            height: 70%;
            padding: 4rem 1rem 2rem 4rem;

            // HEIGHT

            @media screen and (min-height:450px){
                padding-top: 7rem;
            }
            @media screen and (min-height:580px){
                padding-top: 7rem;
            }
            @media screen and (min-height:700px){
                padding-top: 9rem;
                padding-bottom: 7rem;
            }
            @media screen and (min-height:800px){
                padding-top: 11rem;
            }
            @media screen and (min-height:1000px){
                padding: 15rem 4rem 2rem 8rem;
            }

            // WIDTH

            @media screen and (min-width: 470px){
                padding-left: 6rem;
            }
            @media screen and (min-width: 550px){
                padding-left: 6.5rem;
            }
            @media screen and (min-width: 650px){
                padding-left: 7rem;
            }
            @media screen and (min-width: 700px){
                padding-left: 8rem;
            }
            @media screen and (min-width: 790px){
                padding: 6rem 3rem 2rem 9rem;
            }
            @media screen and (min-width: 950px){
                padding: 4rem 6rem 2rem 9rem;
            }
            @media screen and (min-width: 1000px){
                padding: 4rem 10rem 2rem 10rem;
            }
            @media screen and (min-width: 1250px){
                padding: 5rem 1rem 3rem 7rem;
            }
            
            // WIDTH AND HEIGHT

            //iphone 5
            @media screen and (min-width: 300px) and (max-width: 350px) and (min-height:550px) and (max-height: 569px){
                padding-left: 5rem;
                padding-top: 3rem;
            }
            //////
            @media screen and (min-width: 1000px) and (max-height: 570px){
                padding: 1rem 6rem 1rem 9rem; 
            }

            // @media screen and (min-height: 450px) and (max-width: 400px){
            //     padding: 1rem 1rem 1rem 3rem;
            // }
            ///////////////
            
            
            //Ipad Pro
            @media screen and (min-width: 1000px) and (max-width: 1200px) and (min-height: 1300px){
                padding: 17rem 4rem 15rem 9rem;
            }
            
            @media screen and (min-width: 1300px) and (min-height: 1000px){
                padding: 10rem 2rem 10rem 7rem;
            }
            
            //Landscape mobile view
            
            @media screen and (orientation: landscape) and (max-height: 500px){
                padding: 0 1rem 1rem 8rem;
            }
            /////////////////
            @media screen and (min-width: 875px) and (max-height:500px){
                padding: 0 2rem 1rem 8rem;
            }
            ///////////////////////////

            background-image: url("/img/hole.png");
            background-origin: padding-box;
            background-repeat: no-repeat;
            background-position: 25%;
            color: $black;

            .lg-screen-header{
                display: none;
            }
            
            @media screen and (min-width: 800px){
                .sm-screen-header{
                    display: none;
                }
                .lg-screen-header{
                    display: flex;
                    margin-bottom: 1.5rem;
                    justify-content: space-around;

                    h2{
                        margin-right: 3rem;
                    }
                }
            }

            img{
                padding: 0;
                margin: 0;

                height: auto;
                width: 30%;
                border-radius: 25%;
                box-shadow: 0.2rem 0.2rem $white;
            }
            
            h2{
                font-size: 3rem;
                margin: 1rem 0 0.5rem 0;

                @media screen and (orientation: landscape) and (max-height: 500px){
                    margin: 0.5rem 0 0 0;
                }
            }

            p{
                width: 100%;
                margin: 0;
                padding: 0;

                font-size: 1rem;
                font-weight: bold;
                line-height: 2rem;
                letter-spacing: 0.05rem;

                color: black;
            }

        }

        
        .values{
            display: flex;

            height: 30%;

            @media screen and (min-width:850px) {
                height: 40%;
            }


            background-color: black;
            
            .values-col{
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 50%;
                margin: 0;  
            }
            
            .value{
                height: 50%;
                width: 100%;
                padding: 0;
                margin: 0;
                
                img{
                    width: 100%;
                    height: 100%;
                }
                
            }
            
            .top-left{
                background-color: rgba(244,136,70,0.6);
                border-right: 0.3rem solid $black;
                border-bottom: 0.3rem solid $black;

                :hover{
                    background-color: $light-yellow; 
                }
            }
            
            .top-left:hover + .bottom-left{
                background-color:  $light-green;
            }

            .top-right{
                background-color: rgba(182,252,236, 0.6);
                border-bottom: 0.3rem solid $black;

                :hover{
                    background-color: $light-blue;
                }
            }

            .top-right:hover + .bottom-right{
                background-color:  rgba(244,136,70,0.6);
            }
            
            .bottom-left{
                background-color: rgba(143,132,253, 0.6);
                border-right: 0.3rem solid $black;

                :hover{
                    background-color: $light-green;
                }
            }
            
            .bottom-right{
                background-color: rgba(243,248,156,0.8);
                
                :hover{
                    background-color: rgba(244,136,70,0.6);
                }
            }
        }
    }


    .skills{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        height: 100%;
        width: 25%;
        padding: 5vh 1rem 0 1rem;

        background: url("/img/paper.jpg"), center/80%;

        border-width: 0.7rem 0 0 0; 
        border-style: groove;
        border-color: $black; 
        
        
        @media screen and (min-width: 800px){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            
            width: 40%;
        }
        
        @media screen and (min-width: 1000px){
            width: 50%;
        }

        @media screen and (min-width:1250px){
            flex-direction: column;
            justify-content: center;
            
            padding: 0.1rem;
            width: 25%;
            
            border-width: 0.7rem 1px 0 0; 
            border-style: groove;
            border-color: $black;
        }
        
        @media screen and (orientation: landscape) and (max-height: 500px){
            flex-wrap: wrap;
            justify-content: center;
        }
        
        
        i{
            display: flex;
            align-items: center;
            justify-content: center;
            
            width: 5rem;
            margin: 0.2rem;
            padding: 0.8rem 0.2rem;
            
            background-color: $black;
            border-radius: 20%;
            box-shadow: 0.2rem 0.2rem $white;
            
            font-size: 3rem;
            color: whitesmoke;

            @media screen and (min-width: 850px){
                padding: 1.2rem 0.5rem;
                margin: 0.5rem;
            }
            @media screen and (min-width: 900px){
                padding: 2rem 1rem;
            }
            @media screen and (min-width: 1000px){
                margin: 1rem;                
            }
            @media screen and (min-width: 1175px){
                margin: 1.5rem;                
            }
            @media screen and (min-width: 1250px){
                width: 4rem;
                height: 2.5rem;
                margin: 0.5rem;
                
                font-size: 3rem;
            }
            
            @media screen and (orientation: landscape) and (max-height: 500px){
                width: 3rem;
                font-size: 2rem;
            }
            
        }
        .skill:hover{
            background-color: whitesmoke;
            color: $black;
            box-shadow: 0.6rem 0.6rem $black;
        }
    }
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    
    background: url("/img/paper.jpg"), center/80%;

    
    @media screen and (min-width: 900px){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @media screen and (min-width: 1250px){
        overflow-y: scroll;

        border-width: 0.7rem 0 0 0; 
        border-style: groove;
        border-color: $black;

    }
    .projects-header{
        display: flex;
        align-items: center;

        height: 8rem;
        padding: 2rem;
    
        font-size: 3rem;
        background-color: rgba(183,183,183,0.7);
        color: $black;
        border-radius: 0.25rem;
        box-shadow: 0.5rem 0.5rem $white;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }

    .project-tile:hover + h3{
        background-color: $deep-red;
    }

    .project-tile{
        margin: 2rem;
        
        font-size: 1.5rem;

        
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            text-decoration: none;
            
            :hover{
                box-shadow: 0.4rem 0.4rem $deep-red;
            }
            :hover + h3{
                color: $black;
                background-color: $light-yellow;
            }
        }
        
        img{
            display: block;
            
            width: 20rem;
            height: auto;

            @media screen and (min-width: 425px){
                width: 23rem;
                max-height: 20rem;
            }

            @media screen and (min-width: 500px){
                width: 25rem;
                max-height: 20rem;
            }

            @media screen and (min-width: 700px){
                width: 28rem;
                max-height: 20rem;
            }
        }
        
        h3{
            margin: 0;
            padding: 0.5rem;
    
            background-color: #323232;
            color: whitesmoke;
            box-shadow: 0.5rem 0.5rem rgba(50,50,50,0.5);
        }
    }       
}
    
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 7rem;
    margin: 0;
    padding: 1rem;
    
    background: linear-gradient(180deg, rgba(23,23,23,1) 0%, rgba(0,0,0,1) 100%);
    color: white;

    a{  
        color: inherit;
        text-decoration: none;
    }
    
    i{
        padding: 1rem;
        font-size: 4rem;
        height: 7rem;
    }

    .git:hover{
        background-color: $bright-blue;
        color: $light-yellow;
    }

    .email:hover{
        background-color: $bright-red;
        color: $light-green;
    }

    .linked-in:hover{
        background-color: $bright-orange;
        color: $light-blue;
    }

}

